:root{
    --primary-font: 'Cabin', cursive;
    --blue: #1f2833;
    --white: #feffff;
    --gray: #939393;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

html{
    scroll-behavior: smooth;
    animation: fadeIn 2s;
}

a,a:hover,a:visited,a:active,a:link{
    color: inherit;
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 10%;
    top: 0;
    width: 100%;
    position: fixed;
    transition: 0.4s;
    background-color: var(--blue);
    overflow: hidden;
    z-index: 99;
}

.logo{
    cursor: pointer;
    border: var(--white) 2px solid;
    width: 40px;
    height: 40px;
    padding: 4px;
    text-align: center;
    color: var(--white);
}


#navlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlist li{
    display: inline-block;
    padding: 0px 30px;
    font-size: 18px;
    color: var(--white);
}

ul li a::after{
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    background: var(--white);
    transition: width .5s;
}

ul li a:hover::after{
    width: 100%;
    transition:  width .5s;  
}

#hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);

}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.btn{
	font-size: 30px;
	background: none;
	border: var(--blue) 1px solid;
	text-decoration: none;
	padding: 10px 40px;
	z-index: 1;
	cursor: pointer;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
	border-radius: 30px;
}



.btn1:hover{
	
	color: var(--white);
}

.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
    background: var(--blue);
	z-index: -1;
	transition: 0.5s;
	
}

.btn1::before{
	bottom: 0;
	border-radius: 50% 50% 0 0;
	
}


.btn1:hover::before{
	height: 180%;
}

#container{
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 210px;
    gap: 35px;   
}



.intro_text{
   font-size: 40px;
   color: var(--white);
   text-align: center;
}


.intro_text span{
    font-weight: bold;
    text-transform: uppercase;
}

.intro_text button{
    font-size: 16px;
    font-weight: bold;
	background: var(--white);
	border: var(--white) 1px solid;
	text-decoration: none;
	padding: 10px 40px;
	cursor: pointer;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
	border-radius: 30px;
    color: var(--blue);
}

.intro_text button:hover{
    background: var(--blue);
    color: var(--white);
}

.info_btn{
    padding: 20px 0 0 0;
}


.cartoon{
    max-width: 100%;
    height: auto;  
}



h1{
    font-size: 50px;
    color: var(--blue);
    text-align: center;
    padding-top: 7%;
}

.cartoon2{
    max-width: 100%;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-top: 90px;
}

.animation1_img{
    flex-basis: 25%;
}
.wrapper p{
    font-size: 16px;
    color: var(--gray);
    line-height: 1.8;
    text-align: left;
    font-weight: 400;
    width: 100%;
}

.wrapper{
    width: 400px;
}

.summary{
    padding-bottom: 50px;
}


.skill{
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
}

.skill > p{
    font-size: 18px;
    font-weight: 700;
    color: var(--blue);
    margin: 0;
}

.skill:before{
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #959595 ;
    bottom: 0;
}

.skill-bar{
    width: 100%;
    height: 10px;
    background: var(--blue);
    display: block;
    position: relative;
}

.skill-bar span{
    position: absolute;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.skill-bar{
    position: relative;
}

.skill1 .skill-count1{
    right: 0;
}

.skill1{
    width: 80%;
}

.skill2 .skill-count2{
    right: 0;
}

.skill2{
    width: 80%;
}

.skill3 .skill-count3{
    right: 0;
}

.skill3{
    width: 60%;
}

.wrapper button{
    font-size: 16px;
    font-weight: bold;
	background: var(--white);
	border: var(--blue) 1px solid;
	text-decoration: none;
	padding: 10px 40px;
	cursor: pointer;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
	border-radius: 30px;
    color: var(--blue);
}

.wrapper button:hover{
    background: var(--blue);
    color: var(--white);
}

#resume{
    padding-bottom: 70px;
}

.container3{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container3 .heading{
    padding: 70px 0px 30px 0px;
    font-size: 30px;
    text-align: left;
    color: var(--blue);
}

.wexp1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.comp_name:hover{
    cursor: pointer;
    color: var(--blue);
}

.loc_name:hover{
    cursor: pointer;
    color: var(--blue);
}

.wexp2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue);
}

.date{
    display: flex;
    align-items: center;
    color: var(--gray);
    gap: 5px;
    padding-left: 5px;
}


.company{
    display: flex;
    align-items: center;
    padding-right: 40px;
    gap: 5px;
    color: var(--gray);
}


.loc_icon{
    padding-left: 5px;
    
}


.post_title{
    padding-bottom: 10px;
}

.edu{
    display: flex;
    align-items: center;
    
}

.degree{
    padding-bottom: 20px;
}

hr{
    margin-top: 10px;
    color: var(--blue);
}

.container4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    gap: 30px;
}

#projects{
    background-color: #f8f9fa!important;
    padding-bottom: 7%;
}

.project1{
    position: relative;
    width: 100%;
}

.project2{
    position: relative;
    width: 100%;
}


.project_img{
    display: block;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}


.project1:hover .overlay{
    cursor: pointer;
    opacity: 0.8;
}

.project2:hover .overlay{
    cursor: pointer;
    opacity: 0.8;
}

.git_link{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.form_container{
    padding-top: 90px;
    width: 30%;
}


label{
    color: var(--gray);
}

input[type=text], textarea{
    width: 100%;
    padding-bottom: 12px;
    border: none;
    outline: none;
    border-bottom: var(--blue) 1px solid;
    margin-top: 20px;
    margin-bottom: 16px;
}

input[type=submit]{
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover{
    color: var(--blue);
    background-color: var(--white);
    transition: .5s;
}

.container5 {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

.contact_info{
    display: flex;
    padding-bottom: 20px;
    gap: 10px;
    color: var(--gray)
}

.contact_info p:hover{
    color: var(--blue);
}

.contact_header{
    font-size: 20px;
    padding-bottom: 20px;
}


footer{
    padding: 50px 0 50px 0;
    background-color: var(--blue); 
}

footer h2{
    color: var(--white);
    padding-bottom: 20px;
}

.container6{
    display: flex;
    justify-content: space-evenly;
}

.socials .summary{
    font-size: 16px;
    color: var(--gray);
    line-height: 1.8;
    text-align: left;
    font-weight: 400;
}

.about_summary{
    width: 400px;
}


footer p{
    padding-bottom: 20px;
    color: var(--gray);
}

footer p:hover{
    color: var(--white);
}

.socials p{
    color: var(--white);
    font-size: 18px;
}

.social_icon{
   width: 30px;
   text-align: left;
   color: var(--white);
   border-radius: 20px;
   background-color: var(--gray);
}

.social_icon:hover{
    background-color: var(--white);
}

footer li{
    padding-bottom: 20px;
    list-style: none;
    text-decoration: none;
    color: var(--gray);
}

footer li:hover{
    color: var(--white);
}

footer .contact_info{
    padding-bottom: 5px;
    color: var(--gray);
}

footer .contact_info:hover{
    color: var(--white);
}

.copyright{
    text-align: center;
    color: var(--gray);
    padding-top: 70px;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }